<section class="about">

    <div class="text-center mb-4">
        <h2>ABOUT COMPONENT</h2>

        <div class="position-relative">
            <i class="fa-solid fa-star"></i>
            <div class="left"></div>
            <div class="right"></div>

        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">


            <div class="col-md-5">
                <div class="about-content d-flex justify-content-start">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>


            
            <div class="col-md-5">
                <div class="about-content">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>



        </div>
    </div>
</section>
