<section class="portfolio p-5">

    <div class="text-center mb-4">
        <h2>PORTFOLIO COMPONENT</h2>

        <div class="position-relative">
            <i class="fa-solid fa-star"></i>
            <div class="left"></div>
            <div class="right"></div>

        </div>
    </div>

    
    <div class="container">
        <div class="row gy-4">

            <div class="col-md-4">
                <div class="portfolio-content position-relative">
                    <img src="../../assets/images/poert1.png" alt="woodhome" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="portfolio-content position-relative">
                    <img src="../../assets/images/port2.png" alt="woodhome" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="portfolio-content position-relative">
                    <img src="../../assets/images/port3.png" alt="woodhome" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="portfolio-content position-relative">
                    <img src="../../assets/images/poert1.png" alt="woodhome" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="portfolio-content position-relative">
                    <img src="../../assets/images/port2.png" alt="woodhome" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="portfolio-content position-relative">
                    <img src="../../assets/images/port3.png" alt="woodhome" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
